# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. To receive full credit, make sure you address every part of the problem, make sure your document is formatted in a clean and professional way, and make sure the notebook is converted to a PDF and submitted to Gradescope according to these instructions: https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing.

**This assignment requires you to include tables and images.** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

To put an image into a markdown cell in a Jupyter notebook, save the image as a .png or .jpg file in the same folder where you have saved your Jupyter notebook, and use markdown code that looks like this:
```
![](imagefile.png)
```
where you will need to replace `imagefile.png` with the name of your own image file. Alternatively, if you want to control the size of the image in your notebook, type the following code on its own line in the markdown cell:
```
<img src="imagefile.png" width="600">
```
Here the `width` option allows you to control the size of the image by making this number larger or smaller. When converting the notebook to ![PDF format](https://docs.google.com/document/d/1B9ZkK7n_hP_hQ9lIGm31Web4S6hGnwMz9Ad7EWm3N50/edit?usp=sharing), make sure that the images display correctly in the PDF prior to submitting to Gradescope.

### Problem 0
Import the following libraries, load the `.env` file where you store your passwords (see the notebook for module 4 for details), and turn off the error tracebacks to make errors easier to read:

In [1]:
#!pip install wget
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
os.chdir("/Users/nkeeley/Dropbox/DS6001") # change to the directory where your .env file is
dotenv.load_dotenv() # register the .env file where passwords are stored
sys.tracebacklimit = 0 # turn off the error tracebacks

### Problem 1 
Suppose that we have (fake) data on people who are currently being hospitalized. Here are five records in the data:

|patient|conditions|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|
|Nkemdilim Arendonk|[Pneumonia, Diabetes]|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|Raniero Coumans|[Appendicitis, Crohn's disease]|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|Mizuki Debenham|[Kidney Cancer]|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|Zoë De Witt|[Cardiomyopathy, Diabetes, Sciatica]|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|Bonnie Hooper|[Pancreatic Cancer, Sciatica]|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The columns in this dataset are:

* **patient**: Patient name
* **conditions**: A list of the conditions that are relevant to the patient's hospitalization
* **dateofbirth**: The patient's date of birth
* **age**: The patient's age
* **sex**: The patient's sex
* **attendingphysician**: The name of the attending physician for the patient
* **APmedschool**: The name of the school where the attending physician got a medical degree
* **APyearsexperiece**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospitallocation**: The location of the hospital

For this problem, assume that 

1. Some people in the data share the same name, but no two people in the data share the same name and date of birth.

2. Every attending physician is employed at only one hospital.

3. Every hospital exists at only one location.

4. There's more than one doctor with the same name, but there are no doctors with the same name that work at the same hospital.

#### Part a 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of first normal form. [2 points]|

## Patient

|       patient      | dateofbirth | age | sex |
|:------------------:|:-----------:|:---:|:---:|
| Nkemdilim Arendonk | 2/21/1962   | 58  | M   |
| Raniero Coumans    | 8/15/1990   | 29  | M   |
| Mizuki Debenham    | 3/12/1977   | 43  | F   |
| Zoë De Witt        | 11/23/1947  | 72  | F   |
| Bonnie Hooper      | 7/4/1951    | 68  | F   |

## Condition

| condition_ID | condition_name    |
|--------------|-------------------|
| 1            | Pneumonia         |
| 2            | Diabetes          |
| 3            | Appendicitis      |
| 4            | Crohn's disease   |
| 5            | Kidney Cancer     |
| 6            | Cardiomyopathy    |
| 7            | Sciatica          |
| 8            | Pancreatic Cancer |

## Attending Physician

| attendingphysician |            APmedschool            | APyearsexperiece |            hospital            |
|:------------------:|:---------------------------------:|:----------------:|:------------------------------:|
| Earnest Caro       | University of California (Irvine) | 14               | UPMC Presbyterian Shadyside    |
| Pamela English     | University of Michigan            | 29               | Northwestern Memorial Hospital |
| Lewis Conti        | North Carolina State University   | 8                | Houston Methodist Hospital     |
| Theresa Dahlmans   | Lake Erie College of Medicine     | 17               | Mount Sinai Hospital           |
| Steven Garbutt     | Ohio State University             | 36               | UCSF Medical Center            |

## Attends

| attendingphysician |            hospital            |       patient      | dateofbirth |
|:------------------:|:------------------------------:|:------------------:|:-----------:|
| Earnest Caro       | UPMC Presbyterian Shadyside    | Nkemdilim Arendonk | 2/21/1962   |
| Pamela English     | Northwestern Memorial Hospital | Raniero Coumans    | 8/15/1990   |
| Lewis Conti        | Houston Methodist Hospital     | Mizuki Debenham    | 3/12/1977   |
| Theresa Dahlmans   | Mount Sinai Hospital           | Zoë De Witt        | 11/23/1947  |
| Steven Garbutt     | UCSF Medical Center            | Bonnie Hooper      | 7/4/1951    |

## Hospital

|            hospital            |  hospitallocation |
|:------------------------------:|:-----------------:|
| UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Northwestern Memorial Hospital | Chicago, IL       |
| Houston Methodist Hospital     | Houston, TX       |
| Mount Sinai Hospital           | New York, NY      |
| UCSF Medical Center            | San Francisco, CA |

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

## Patient

| patient_ID | patient            | dateofbirth | age | sex |
|------------|--------------------|-------------|-----|-----|
| 1          | Nkemdilim Arendonk | 2/21/1962   | 58  | M   |
| 2          | Raniero Coumans    | 8/15/1990   | 29  | M   |
| 3          | Mizuki Debenham    | 3/12/1977   | 43  | F   |
| 4          | Zoë De Witt        | 11/23/1947  | 72  | F   |
| 5          | Bonnie Hooper      | 7/4/1951    | 68  | F   |

## Condition

| condition_ID | condition_name    |
|--------------|-------------------|
| 1            | Pneumonia         |
| 2            | Diabetes          |
| 3            | Appendicitis      |
| 4            | Crohn's disease   |
| 5            | Kidney Cancer     |
| 6            | Cardiomyopathy    |
| 7            | Sciatica          |
| 8            | Pancreatic Cancer |

## Suffers

| condition_ID | patient_ID |
|:------------:|:----------:|
| 1            | 1          |
| 2            | 2          |
| 3            | 3          |
| 4            | 4          |
| 5            | 5          |

## Attending Physician

| physician_ID | attendingphysician | APmedschool                       | APyearsexperiece |
|--------------|--------------------|-----------------------------------|------------------|
| 1            | Earnest Caro       | University of California (Irvine) | 14               |
| 2            | Pamela English     | University of Michigan            | 29               |
| 3            | Lewis Conti        | North Carolina State University   | 8                |
| 4            | Theresa Dahlmans   | Lake Erie College of Medicine     | 17               |
| 5            | Steven Garbutt     | Ohio State University             | 36               |

## Attends

| physician_ID | patient_ID |
|:------------:|------------|
| 1            | 1          |
| 2            | 2          |
| 3            | 3          |
| 4            | 4          |
| 5            | 5          |

## Employed By

| physician_ID | hospital                       |
|:------------:|--------------------------------|
| 1            | UPMC Presbyterian Shadyside    |
| 2            | Northwestern Memorial Hospital |
| 3            | Houston Methodist Hospital     |
| 4            | Mount Sinai Hospital           |
| 5            | UCSF Medical Center            |

## Hospital

|            hospital            |  hospitallocation |
|:------------------------------:|:-----------------:|
| UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Northwestern Memorial Hospital | Chicago, IL       |
| Houston Methodist Hospital     | Houston, TX       |
| Mount Sinai Hospital           | New York, NY      |
| UCSF Medical Center            | San Francisco, CA |

#### Part c 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of third normal form. 

Note that the patient's age is a derived attribute from the patient's date of birth, but please don't make an extra data table just for age. In principle, if we are worried about data inconsistencies we can simply remove age from the database and calculate it when needed from date of birth. But for this exercise, leave age in the table and ignore its dependency with date of birth. [2 points]

#### Note: all tables stayed the same, except for Attending Physician which no longer required the "hospital" attribute:


| physician_ID | attendingphysician |            APmedschool            | APyearsexperiece |
|:------------:|:------------------:|:---------------------------------:|:----------------:|
| 1            | Earnest Caro       | University of California (Irvine) | 14               |
| 2            | Pamela English     | University of Michigan            | 29               |
| 3            | Lewis Conti        | North Carolina State University   | 8                |
| 4            | Theresa Dahlmans   | Lake Erie College of Medicine     | 17               |
| 5            | Steven Garbutt     | Ohio State University             | 36               |

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using draw.io: https://app.diagrams.net/. The symbols used for both Chen's notation and IE notation are on the left-hand toolbar.

#### Part a 
Create a conceptual ER diagram using Chen's notation. [2 points]

![](conceptual_chen.png)

#### Part b 
Create a logical ER diagram using Chen's notation. [2 points]

![](chen_diagram.png)

#### Part c 
Create a conceptual ER diagram using IE notation. [2 points]

![](Engineer.png)

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL. 

To get the data, first set the working directory the folder on your computer to the folder where you want the CSV files to be. This should be the same folder where you saved our lab notebook and all associated files. Then change this line of code to the address for that folder:

In [2]:
os.chdir("/Users/nkeeley/Dropbox/DS6001")

The following code of code will download the CSV files. Please run this as is:

In [3]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))
pitchfork.close()

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [4]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [5]:
#### Create database, query, and commmit changes.

## Create database

pitch_db = sqlite3.connect("new_pitch.db")
pitch_db

## Add dataframes

reviews.to_sql("reviews", pitch_db, index = False, chunksize=1000, if_exists="replace")
artists.to_sql("artists", pitch_db, index = False, chunksize=1000, if_exists="replace")
content.to_sql("content", pitch_db, index = False, chunksize=1000, if_exists="replace")
genres.to_sql("genres", pitch_db, index = False, chunksize=1000, if_exists="replace")
labels.to_sql("labels", pitch_db, index = False, chunksize=1000, if_exists="replace")
years.to_sql("years", pitch_db, index = False, chunksize=1000, if_exists="replace")

/Users/nkeeley/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [6]:
## Cursor query

pitch_cursor = pitch_db.cursor()
pitch_cursor.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
response1 = pitch_cursor.fetchall()
df1=pd.DataFrame(response1)
df1

## Alt query

df2 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score = 10", pitch_db)
df2

## commit and close

pitch_db.commit()
pitch_db.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [7]:
## import and use password

import mysql.connector
dotenv.load_dotenv()
mysqlpw=os.getenv("MySQLKey")

## Server setup

dbserver = mysql.connector.connect(
    user="root",
    passwd=mysqlpw,
    host="localhost"
)

In [ ]:
## Create cursor and run queries

cursor = dbserver.cursor()
#cursor.execute("CREATE DATABASE winedb")
try:
    cursor.execute("CREATE DATABASE winedb")
except:
    cursor.execute("DROP DATABASE winedb")
    cursor.execute("CREATE DATABASE winedb")
#cursor.execute("SHOW DATABASES")
databases=cursor.fetchall()
databases

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
mysql.connector.errors.InterfaceError: No result set to fetch from.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'InterfaceError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
mysql.connector.errors.InterfaceError: No result set to fetch from.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'InterfaceError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
mysql.connector.errors.InterfaceError: No result set to fetch from.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'InterfaceError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError

In [8]:
## Connect to db

winedb = mysql.connector.connect(
    user="root",
    passwd=mysqlpw,
    host="localhost",
    database="winedb"
)

from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost/{db}"
                       .format(user="root", pw=mysqlpw, db="winedb"))
reviews.to_sql("reviews", con=engine, index = False, chunksize=1000, if_exists="replace")
artists.to_sql("artists", con=engine, index = False, chunksize=1000, if_exists="replace")
content.to_sql("content", con=engine, index = False, chunksize=1000, if_exists="replace")
genres.to_sql("genres", con=engine, index = False, chunksize=1000, if_exists="replace")
labels.to_sql("labels", con=engine, index = False, chunksize=1000, if_exists="replace")
years.to_sql("years", con=engine, index = False, chunksize=1000, if_exists="replace")

ERROR! Session/line number was not unique in database. History logging moved to new session 305

In [9]:
## Cursor query

pitch_cursor = winedb.cursor()
pitch_cursor.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
response1 = pitch_cursor.fetchall()
df1=pd.DataFrame(response1)
df1

## Alt query

df2 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score = 10", winedb)
df2

## commit and close

winedb.commit()
winedb.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [11]:
## Postgresql import

import psycopg2
dotenv.load_dotenv()
pgpw=os.getenv("Pgpw")

ERROR! Session/line number was not unique in

'123456'

 database. History logging moved to new session 307

In [12]:
## Set up server

dbserver = psycopg2.connect(
    user="nkeeley",    
    password=pgpw, 
    host="localhost"
)
dbserver.autocommit = True

In [ ]:
## Cursor

cursor = dbserver.cursor()
try:
    cursor.execute("CREATE DATABASE mydb")
except:
    cursor.execute("DROP DATABASE mydb")
    cursor.execute("CREATE DATABASE mydb")
    
mydb = psycopg2.connect(
    user='nkeeley', 
    password=pgpw, 
    host="localhost",
    database="mydb"
)

engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="nkeeley", pw=pgpw, db="mydb"))

reviews.to_sql("reviews", con=engine, index = False, chunksize=1000, if_exists="replace")
artists.to_sql("artists", con=engine, index = False, chunksize=1000, if_exists="replace")
content.to_sql("content", con=engine, index = False, chunksize=1000, if_exists="replace")
genres.to_sql("genres", con=engine, index = False, chunksize=1000, if_exists="replace")
labels.to_sql("labels", con=engine, index = False, chunksize=1000, if_exists="replace")
years.to_sql("years", con=engine, index = False, chunksize=1000, if_exists="replace")

my_cursor = mydb.cursor()
my_cursor.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
response1 = my_cursor.fetchall()
df1=pd.DataFrame(response1)
df1

## Alt query

df2 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score = 10", mydb)
df2

## commit and close

dbserver.commit()
dbserver.close()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "mydb" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "mydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "mydb" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "mydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "mydb" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "mydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [40]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '1223',
 'text': 'Louis VIII becomes King of France upon the death of his father, Philip II.',
 'html': '1223 - <a href="https://wikipedia.org/wiki/Louis_VIII_of_France" title="Louis VIII of France">Louis VIII</a> becomes King of France upon the death of his father, <a href="https://wikipedia.org/wiki/Philip_II_of_France" title="Philip II of France">Philip II</a>.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/Louis_VIII_of_France" title="Louis VIII of France">Louis VIII</a> becomes King of France upon the death of his father, <a href="https://wikipedia.org/wiki/Philip_II_of_France" title="Philip II of France">Philip II</a>.',
 'links': [{'title': 'Louis VIII of France',
   'link': 'https://wikipedia.org/wiki/Louis_VIII_of_France'},
  {'title': 'Philip II of France',
   'link': 'https://wikipedia.org/wiki/Philip_II_of_France'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [2 points]

In [16]:
## Start server
#!pip install pymongo
import pymongo

ERROR! Session/line number was not unique in database. History logging moved to new session 321
Collecting pymongo
  Downloading pymongo-3.12.0-cp38-cp38-macosx_10_9_x86_64.whl (394 kB)
     |████████████████████████████████| 394 kB 2.7 MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.12.0

In [36]:
myclient=pymongo.MongoClient("mongodb://localhost/")
mongo_db=myclient["mongo_db"]

In [51]:
collist = mongo_db.list_collection_names()
if "historycollection" in collist:
    mongo_db.historycollection.drop()
historycollection=mongo_db["historycollection"]
#events

In [ ]:
all_history=historycollection.insert_many(events)

In [59]:
query = {
    "text":{
        "$regex": 'France'
    }
}
results=historycollection.find(query)
for x in results:
    print(x)
historycollection.count_documents(query)

{'_id': ObjectId('60ef649e534ceaa591527b30'), 'year': '1223', 'text': 'Louis VIII becomes King of France upon the death of his father, Philip II.', 'html': '1223 - <a href="https://wikipedia.org/wiki/Louis_VIII_of_France" title="Louis VIII of France">Louis VIII</a> becomes King of France upon the death of his father, <a href="https://wikipedia.org/wiki/Philip_II_of_France" title="Philip II of France">Philip II</a>.', 'no_year_html': '<a href="https://wikipedia.org/wiki/Louis_VIII_of_France" title="Louis VIII of France">Louis VIII</a> becomes King of France upon the death of his father, <a href="https://wikipedia.org/wiki/Philip_II_of_France" title="Philip II of France">Philip II</a>.', 'links': [{'title': 'Louis VIII of France', 'link': 'https://wikipedia.org/wiki/Louis_VIII_of_France'}, {'title': 'Philip II of France', 'link': 'https://wikipedia.org/wiki/Philip_II_of_France'}]}
{'_id': ObjectId('60ef649e534ceaa591527b34'), 'year': '1789', 'text': 'Storming of the Bastille in Paris. This event escalates the widespread discontent into the French Revolution. Bastille Day is still celebrated annually in France.', 'html': '1789 - <a href="https://wikipedia.org/wiki/Storming_of_the_Bastille" title="Storming of the Bastille">Storming of the Bastille</a> in Paris. This event escalates the widespread discontent into the <a href="https://wikipedia.org/wiki/French_Revolution" title="French Revolution">French Revolution</a>. <a href="https://wikipedia.org/wiki/Bastille_Day" title="Bastille Day">Bastille Day</a> is still celebrated annually in France.', 'no_year_html': '<a href="https://wikipedia.org/wiki/Storming_of_the_Bastille" title="Storming of the Bastille">Storming of the Bastille</a> in Paris. This event escalates the widespread discontent into the <a href="https://wikipedia.org/wiki/French_Revolution" title="French Revolution">French Revolution</a>. <a href="https://wikipedia.org/wiki/Bastille_Day" title="Bastille Day">Bastille Day</a> is still celebrated annually in France.', 'links': [{'title': 'Storming of the Bastille', 'link': 'https://wikipedia.org/wiki/Storming_of_the_Bastille'}, {'title': 'French Revolution', 'link': 'https://wikipedia.org/wiki/French_Revolution'}, {'title': 'Bastille Day', 'link': 'https://wikipedia.org/wiki/Bastille_Day'}]}
ERROR! Session/line number was not unique in database. History logging moved to new session 351

2

In [65]:
from bson.json_util import dumps, loads
history_text=dumps(historycollection.find(query))
history_records=loads(history_text)
history_records[1]
history_df = pd.DataFrame.from_records(history_records)
history_df

,_id,year,text,html,no_year_html,links
0,60ef649e534ceaa591527b30,1223,Louis VIII becomes King of France upon the dea...,"1223 - <a href=""https://wikipedia.org/wiki/Lou...","<a href=""https://wikipedia.org/wiki/Louis_VIII...","[{'title': 'Louis VIII of France', 'link': 'ht..."
1,60ef649e534ceaa591527b34,1789,Storming of the Bastille in Paris. This event ...,"1789 - <a href=""https://wikipedia.org/wiki/Sto...","<a href=""https://wikipedia.org/wiki/Storming_o...","[{'title': 'Storming of the Bastille', 'link':..."