# Lab Assignment 2: How to Load CSV, ASCII, and other data into Python
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

There are 11 data files attached to this lab assignment, with different extensions. First, download all of these data files, and save them in the same folder on your local machine. Your task in the following questions is to load each file into Python correctly, so that you can begin the process of data cleaning. If the variable names are included in the file, use those names to name the columns. If the variable names are not included, use these names in order:

In [72]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

If you loaded the data correctly, it will look like `data_clean.csv`, which is also attached to this lab.

## Problem 0
Import the libraries you will need. Then write code to change the working directory to the folder in which you saved the data files, run the code displayed above to create the `column_names` list, load `data_clean.csv`, and display the output of the `.info()` method of `data_clean`. (1 point)

## *Answer to Problem 0:*

In [73]:
## Imports

import pandas as pd
import numpy as np
import os
import sys
import pyreadstat

## Setup code and set working directory

# Traceback limit
sys.tracebacklimit = 2

# Changing and checking working directory
os.chdir("/Users/nkeeley/DS6001/Lab 2")
os.getcwd()
!pwd # Double check in terminal

# Check column names
column_names

## Import dataset data_clean.csv and check information

df0 = pd.read_csv("data_clean.csv")
df0.info()

/Users/nkeeley/DS6001/Lab 2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

## Problem 1
Load `data1.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 1:*

*When I originally read in the data and checked the first few values, I noticed that a title of two rows existed where the column names should be. Knowing that the "header" parameter addresses this, I set header = 2.*

In [74]:
## Load data1.csv and visualize what's being read
df1 = pd.read_csv("data1.csv")
df1.head()
df1.tail()
#df1.info()

## Create a deep copy to avoid changes.
df1_copy = df1.copy()

## Reread data, but remove header rows
df1_copy = pd.read_csv("data1.csv",header=2)
df1_copy.info()
df1_copy.describe()
df1_copy.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

## Problem 2
Load `data2.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 2:*

*I checked the data head and tail and noticed 1) a title that took up two rows, and 2) comments preceded by a "/" symbol.I used the ```header = 2``` parameter to remove the title, and the ```comment = "/" ```parameter to remove all comments.*

In [75]:
df2 = pd.read_csv("data2.txt")
df2.head() # Title with two rows, comment with "/" symbol
#df2.info()

## Create a deep copy to avoid changes.
df2_copy = df2.copy()

## Reread data using header and removing 
df2_copy = pd.read_csv("data2.txt", header=2,comment="/")
df2_copy.head()
df2_copy.info()
df2_copy.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

Index(['Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.92) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

## Problem 3
Load `data3.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 3:*

*When I read in the data and viewed it, I noticed the data was compressed into far too few columns and separated by ```\t``` values. I recognized this as the delimiter and use the ```sep = '\t' ``` parameter to separate the dataset values.*

In [76]:
## Read in original data and visualize cleaning requirement
df3 = pd.read_csv("data3.txt")
df3.head() # Looks like a different delimiter: \t
df3.tail()
df3.info()

## Reread data with \ delimiter, also change header
df3 = pd.read_csv("data3.txt", sep = '\t', header = 2)
df3.head()
#df3.tail()
#df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 1 columns):
 #   Column                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                     --------------  -----
 0   Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)										  158 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

## Problem 4
Load `data4.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 4:*

*When I read in the data, I noticed that data values were condensed, and after attempting several ```sep = ``` parameter adjustments, realized that the delimiter was a '\$' symbol. Since there was no title and no column names, I set ```header=None``` and set ```names=column_names``` using the list created earlier in this assignment.*

In [77]:
## Read in original data and visualize cleaning requirement

df4 = pd.read_csv("data4.txt")
df4

## Reread data using '$' as delimiter, no header, and set column names using list

df4 = pd.read_csv("data4.txt", sep = '$', header=None, names=column_names)
df4.head()
df4.tail()
#df4.info()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

## Problem 5
Load `data5.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 5:*

*When I viewed the tail of the original dataframe, I noticed that the last two rows were essentially information about the dataset rather than actual data values. I spliced the data frame using the ```pd.drop()``` function.*

In [78]:
## Read in original data and visualize cleaning requirement

df5 = pd.read_csv("data5.csv")
df5.tail()

## Copy original data

df5_copy = df5.copy()

## Splice the dataframe to remove unnecessary rows.

df5_copy=df5_copy.drop([156,157])
df5_copy.tail()
df5_copy.info()
df5_copy.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 14.6+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

## Problem 6
Load `data6.dat`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

## *Answer to Problem 6:*

*The original data looked like it contained a sentinel value "999" to reflect missing values. I replaced these sentinel values with "NaN" by using the ```na_values = 999``` parameter.*

In [79]:
# Read in original data and visualize cleaning requirement

df6 = pd.read_csv("data6.dat")
df6.tail(10)

## Copy original data
df6 = pd.read_csv("data6.dat",na_values=999)
df6.tail(10)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
146,Malawi,3.587,NaN,3.482,1.732,0.186,NaN,0.306,0.531,NaN,0.080
147,Haiti,NaN,3.713,3.451,1.744,0.315,0.714,0.289,NaN,0.392,0.104
148,Liberia,3.495,3.623,3.368,1.640,0.076,0.858,0.267,0.419,0.206,0.030
149,Syria,3.462,3.664,3.260,1.244,0.689,0.382,0.539,0.088,0.376,0.144
150,Rwanda,NaN,3.500,3.317,0.500,0.332,0.896,NaN,0.636,0.200,0.444
151,NaN,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,NaN,0.064
152,Tanzania,NaN,NaN,3.193,0.628,NaN,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,NaN,3.123,1.691,0.337,NaN,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,NaN,0.038
155,Burundi,2.905,3.074,NaN,1.752,0.091,NaN,0.145,0.065,0.149,0.076

## Problem 7
Load `data7.xlsx`, which is an Excel file. Keep only the sheet named “Data”. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

## *Answer to Problem 7:*

*I didn't see any issues with the dataframe, once I had loaded it using the ```pd.read_excel``` function.*

In [80]:
# Read in original data and visualize cleaning requirement

df7 = pd.read_excel("data7.xlsx", sheet_name="Data")
df7.tail()
df7.info()
df7.dtypes
df7.describe()
df7.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

(156, 11)

## Problem 8
Load `data8.dta`, which is a Stata 13 file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

## *Answer to Problem 8:*

*This was a Stata file. I just adjusted and used the ```read_stata()``` function, but found no other issues.*

In [81]:
# Read in original data and visualize cleaning requirement

df8 = pd.read_stata("data8.dta")
df8.tail(10)
df8.info()
df8.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float32
 2   whiskerhigh                       156 non-null    float32
 3   whiskerlow                        156 non-null    float32
 4   dystopia192residual               156 non-null    float32
 5   explainedbygdppercapita           156 non-null    float32
 6   explainedbysocialsupport          156 non-null    float32
 7   explainedbyhealthylifeexpectancy  156 non-null    float32
 8   explainedbyfreedomtomakelifechoi  156 non-null    float32
 9   explainedbygenerosity             156 non-null    float32
 10  explainedbyperceptionsofcorrupti  156 non-null    float32
dtypes: float32(10), object(1)
memory usage: 8.5+ KB

country                              object
happinessscore                      float32
whiskerhigh                         float32
whiskerlow                          float32
dystopia192residual                 float32
explainedbygdppercapita             float32
explainedbysocialsupport            float32
explainedbyhealthylifeexpectancy    float32
explainedbyfreedomtomakelifechoi    float32
explainedbygenerosity               float32
explainedbyperceptionsofcorrupti    float32
dtype: object

## Problem 9
Load `data9.sav`, which is an SPSS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

## *Answer to Problem 9:*

*I attempted to read this file using ```pd.read_spss()``` but the function didn't work. As a result, I downloaded and imported the module ```pyreadstat``` which allowed me to investigate the dataset for accuracy, but it was oddly a tuple rather than a dataframe.*

In [82]:
# Read in original data and visualize cleaning requirement
os.getcwd()
import pyreadstat
df9 = pyreadstat.read_sav("data9.sav")
df9

(                      country  happiness  whiskerhigh  whiskerlow  dystopia  \
 0                     Finland      7.632        7.695       7.569     2.595
 1                      Norway      7.594        7.657       7.530     2.383
 2                     Denmark      7.555        7.623       7.487     2.370
 3                     Iceland      7.495        7.593       7.398     2.426
 4                 Switzerland      7.487        7.570       7.405     2.320
 ..                        ...        ...          ...         ...       ...
 151                     Yemen      3.355        3.448       3.262     1.106
 152                  Tanzania      3.303        3.414       3.193     0.628
 153               South Sudan      3.254        3.385       3.123     1.691
 154  Central African Republic      3.083        3.227       2.939     2.487
 155                   Burundi      2.905        3.074       2.735     1.752

      gdpPC  socsupport  lifeexp  lifechoice  generous  corrupt
 0    1.305       1.592    0.874       0.681     0.192    0.393
 1    1.456       1.582    0.861       0.686     0.286    0.340
 2    1.351       1.590    0.868       0.683     0.284    0.408
 3    1.343       1.644    0.914       0.677     0.353    0.138
 4    1.420       1.549    0.927       0.660     0.256    0.357
 ..     ...         ...      ...         ...       ...      ...
 151  0.442       1.073    0.343       0.244     0.083    0.064
 152  0.455       0.991    0.381       0.481     0.270    0.097
 153  0.337       0.608    0.177       0.112     0.224    0.106
 154  0.024       0.000    0.010       0.305     0.218    0.038
 155  0.091       0.627    0.145       0.065     0.149    0.076

 [156 rows x 11 columns],
 <pyreadstat._readstat_parser.metadata_container at 0x7f9a7a3fe310>)

## Problem 10
Load `data10.xpt`, which is a SAS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (If some of the country names display as `b'Finland'`, don't worry aout that.) (2 points)

## *Answer to Problem 10:*

*I read in the data using a ```pd.read_sas()``` function and did not see any problems with the data.*

In [83]:
# Read in original data and visualize cleaning requirement

df10 = pd.read_sas("data10.xpt")
df10.dtypes
df10.shape
df10.columns
df10.tail(10)
df10.info()
df10.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COUNTRY   156 non-null    object
 1   HAPPINES  156 non-null    float64
 2   WHISKERH  156 non-null    float64
 3   WHISKERL  156 non-null    float64
 4   DYSTOPIA  156 non-null    float64
 5   EXPLAINE  156 non-null    float64
 6   EXPLAIN2  156 non-null    float64
 7   EXPLAIN3  156 non-null    float64
 8   EXPLAIN4  156 non-null    float64
 9   EXPLAIN5  156 non-null    float64
 10  EXPLAIN6  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,EXPLAINE,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
count,156.000000,156.000000,156.000000,156.000000,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02
mean,5.375878,5.478654,5.273090,1.922891,8.874167e-01,1.216571e+00,5.980256e-01,4.569808e-01,1.815705e-01,1.124744e-01
std,1.119507,1.107522,1.132544,0.513760,3.825727e-01,3.003804e-01,2.479247e-01,1.627499e-01,9.880460e-02,9.636232e-02
min,2.905000,3.074000,2.735000,0.292000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,4.453750,4.589750,4.344750,1.654250,6.162500e-01,1.076750e+00,4.222500e-01,3.582500e-01,1.095000e-01,5.100000e-02
50%,5.378000,5.477500,5.284500,1.908500,9.495000e-01,1.261500e+00,6.440000e-01,4.940000e-01,1.740000e-01,8.200000e-02
75%,6.168500,6.260000,6.051250,2.270250,1.197750e+00,1.463000e+00,7.772500e-01,5.800000e-01,2.422500e-01,1.390000e-01
max,7.632000,7.695000,7.569000,2.961000,1.649000e+00,1.644000e+00,1.030000e+00,7.240000e-01,5.980000e-01,4.570000e-01

## Problem 11
Please load the `data11.txt` file, which is a fixed width file. The columns are defined as follows:

| Variable                                   | Width | Start | End |
|--------------------------------------------|-------|-------|-----|
| Country                                    | 24    | 1     | 24  |
| Happiness score                            | 5     | 25    | 29  |
| Whisker-high                               | 5     | 30    | 34  |
| Whisker-low                                | 5     | 35    | 39  |
| Dystopia (1.92) + residual                 | 5     | 40    | 44  |
| Explained by: GDP per capita               | 5     | 45    | 49  |
| Explained by: Social support               | 5     | 50    | 54  |
| Explained by: Healthy life expectancy      | 5     | 55    | 59  |
| Explained by: Freedom to make life choices | 5     | 60    | 64  |
| Explained by: Generosity                   | 5     | 65    | 69  |
| Explained by: Perceptions of corruption    | 5     | 70    | 74  |

Then save the this loaded data frame as a CSV file on your local machine. Be sure to use a unique filename so as not to overwrite any existing files. (5 points)

In [84]:
## Create setup lists

dfnames = ["Country", "Happiness score", "Whisker-high", "Whisker-low", "Dystopia (1.92) + residual",\
          "Explained by: GDP per capita", "Explained by: Social support", "Explained by: Healthy life expectancy",\
          "Explained by: Freedom to make life choices", "Explained by: Generosity", "Explained by: Perceptions of corruption"]
len(dfnames)

dfwidths = [24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
len(dfwidths)

## Load fixed width data and examine for errors

df11 = pd.read_fwf("data11.txt", widths=dfwidths, header=None, names=dfnames)
df11.tail()
df11.info()
df11.shape
df11.describe()
df11.dtypes

## Write loaded data to local CSV file

df11.to_csv("fwf_to_csv.csv", sep=",")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB